<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Referer" content="https://www.imi.ir/"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<form id="sadadRedirectFrom" name="sadadRedirectFrom" action="#"
      th:action="@{https://sadad.shaparak.ir/VPG/Purchase?token={id}(id = ${token})}"
      method="post">
    <noscript>
        <p><input type="submit" value="Submit" /></p>
    </noscript>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("sadadRedirectFrom").submit();
    })
/*    $(document).ready(function(){
       $("#sadadRedirectFrom").submit();
    });*/
</script>
</body>
</html>