<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <meta name="Referer" content="https://www.imi.ir/"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        // const $ = jQuery;
        $(document).ready(function () {
            document.getElementById("sadadRedirectFrom").submit();
        });
        /*    $(document).ready(function(){
               $("#sadadRedirectFrom").submit();
            });*/
    </script>
</head>
<body>
<form id="sadadRedirectFrom" name="sadadRedirectFrom" action="#"
      th:action="@{https://sadad.shaparak.ir/VPG/Purchase?token={id}(id = ${token})}"
      method="post">
    <noscript>
        <p><input type="submit" value="Submit" /></p>
    </noscript>
</form>
</body>
</html>